doctype html
html(ng-app='appTodo')
	head
		meta(charset='utf8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		base(href='/')
		title Todo :: based on Node Express Mongoose Jade Angular
		link(rel='stylesheet', href='/vendor/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css') 
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
		script(src='/js/core.js')
	body(ng-controller='mainController')
		block body
			